body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

html {
  scroll-behavior: smooth;
}

nav {
  background-color: #666;
  padding: 15px;
  width: 100%;
  top: 0;
  position: fixed;
  margin-bottom: 15px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 16px;
  font-weight: 700;
}

nav a:hover {
  padding: 10px;
  background-color: white;
  color: black;
  font-weight: 700;
}

header {
  background-color: #333;
  color: #fff;
  padding: 15px;
  margin: 40px 0;
  text-align: center;
}

header h1 {
  background-color: #c0c0c0;
  padding: 10px;
  width: 70%;
  margin: auto;
  border-radius: 10px;
}

header img {
  width: 100%;
  height: 120vh;
  opacity: 50%;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.product {
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 50px;
  margin: 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.product h2 {
  color: #333;
  font-size: 20px;
  margin-bottom: 10px;
}

.product p {
  color: #666;
  font-size: 16px;
  margin-bottom: 15px;
}

.product button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.product button:hover {
  transform: scale(1.25);
  background-color: #555;
}

/* footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 40vh;
  padding: 0 2rem;
  background: #303841;
  color: white;
}

.contact-section-header > h2 {
  font-size: 3rem;
  font-family: "Ubuntu", sans-serif;
}
.contact-section-header > p {
  margin-top: 0.3rem;
  font-size: 2rem;
  font-style: italic;
  font-family: "Inter", sans-serif;
}
.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 1rem;
  flex-wrap: wrap;
  color: white;
}
.contact-details {
  font-size: 1.5rem;
  text-shadow: 2px 2px 3px #1f1f1f;
  color: white;
  padding: 10px;
  font-family: "Ubuntu", sans-serif;
}

.contact-details:hover {
  transform: translateY(-8px);
}
